@page
@model RegisterModel
@{ ViewData["Title"] = "Register"; }

<form class="col-lg-6 col-md-8 col-10 mx-auto" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div class="mx-auto text-center my-4">
        <a class="navbar-brand mx-auto mt-2 flex-fill text-center" asp-controller="Home" asp-action="Index">
            <img src="~/img/logo.svg" height="150" />
        </a>
        <h2 class="my-3">Sign Up</h2>
    </div>
    <div class="form-group">
        <label asp-for="Input.Username"></label>
        <input asp-for="Input.Username" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" class="form-control">
    </div>
    <button class="btn btn-lg btn-primary btn-block mt-5" type="submit">Sign up</button>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2018 - @DateTime.Now.Year</p>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}