<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - Deemix AutoLoader</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="~/css/simplebar.min.css">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="~/css/feather.min.css">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="~/css/daterangepicker.min.css">
    <!-- App CSS -->
    <link rel="stylesheet" href="~/css/app-dark.min.css" id="darkTheme">
</head>
<body class="dark">
    <div class="wrapper vh-100">
        <div class="row align-items-center h-100 mr-0 ml-0">
            @RenderBody()
        </div>
    </div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/simplebar.min.js"></script>
    <script src="~/js/daterangepicker.js"></script>
    <script src="~/js/jquery.stickOnScroll.js"></script>
    <script src="~/js/tinycolor-min.js"></script>
    <script src="~/js/config.js"></script>
    <script src="~/js/apps.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>