@model PlaylistDeleteViewModel
@{
    ViewData["Title"] = "Delete playlist";
    ViewData["Message"] = "Are you sure?";
}

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-warning" role="alert">
            <form asp-controller="Playlist" asp-action="Delete" method="post">
                <p>Do you really want to delete the artist <code>@Model.Playlist.Name</code> with id <code>@Model.Playlist.DeezerId</code> ?</p>

                @Html.HiddenFor(x => x.Playlist.Id)
                @Html.HiddenFor(x => x.Playlist.FolderId)

                <button type="submit" class="btn btn-danger">Yes, I am sure!</button>
            </form>
        </div>
    </div>
</div>