@model FolderCreateInputModel

@{
    ViewData["Title"] = "Folder";
    ViewData["Message"] = "Create a new folder for your content to be stored";
}

<div class="row">
    <div class="col-md-12">
        <form asp-controller="Folder" asp-action="Create" method="post">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">New folder</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Choose where your content gets stored</h6>

                    <hr />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input asp-for="Name" class="form-control" />
                                <small class="form-text text-muted">The name of your folder</small>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input asp-for="Path" class="form-control" />
                                <small class="form-text text-muted">The absolute path where your files will be stored</small>
                                <span asp-validation-for="Path" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr />

            <button type="submit" class="btn btn-primary float-right">Submit</button>
        </form>
    </div>
</div>