@model ArtistDeleteViewModel
@{
    ViewData["Title"] = "Delete folder";
    ViewData["Message"] = "Are you sure?";
}

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-warning" role="alert">
            <form asp-controller="Artist" asp-action="Delete" method="post">
                <p>Do you really want to delete the artist <code>@Model.Artist.Name</code> with id <code>@Model.Artist.DeezerId</code> ?</p>

                @Html.HiddenFor(x => x.Artist.Id)
                @Html.HiddenFor(x => x.Artist.FolderId)

                <button type="submit" class="btn btn-danger">Yes, I am sure!</button>
            </form>
        </div>
    </div>
</div>